{% extends "base.html"%}
{%block title%}Crear Usuario{%endblock%}
{%block origin%}<input type="hidden" value="home" name="type"><input type="hidden" value="0" name="id">{%endblock%}
{%block content%}
<form action="{{url_for('views.post_create_project')}}" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre del proyecto</label>
      <input type="text" class="form-control" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{%endblock%}