{% extends "base.html"%}
{%block title%}{{project.name}}{%endblock%}
{%block content%}
<div class="container-fluid">
    <div class="container">
        <h1>{{project.name}}</h1>
        <br/>
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#demoCollapse" aria-expanded="false" aria-controls="demoCollapse">
            Mostrar completadas
        </button>
    </div>
    <div class="container">
        <br/>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tarea</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Asignado</th>
                    <th scope="col">Status</th>
                    <th scope="col"><i class="bi bi-check2-circle"></i></th>
                </tr>
            </thead>
            <tbody>
                <div class="d-none">{{project.tasks.sort()}}</div>
                {%for task in project.tasks%}
                {%if not task.complete%}
                <tr>
                    <td scope="row">{{task.content}}</td>
                    <td>{{task.duedate}}</td>
                    <td>{{task.assigned[0].username}}</td>
                    <td>{%if task.overdue%}
                        <i class="bi bi-patch-minus-fill" style = "color: red"></i>
                        {%else%}
                        <i class="bi bi-patch-exclamation-fill" style ="color: rgb(212, 212, 0)"></i>
                        {%endif%}
                    </td>
                    <td><form method="post"><input type="hidden" value="{{task.id}}" name="id"><button type="submit"><i class="bi bi-check-square"></i></button></form></td>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
            </div>
        </table>
        <div class="collapse" id="demoCollapse">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tarea</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Asignado</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <div class="d-none">{{project.tasks.sort()}}</div>
                    {%for task in project.tasks%}
                    {%if task.complete%}
                    <tr>
                        <td scope="row">{{task.content}}</td>
                        <td>{{task.duedate}}</td>
                        <td>{{task.assigned[0].username}}</td>
                        <td><i class="bi bi-patch-check-fill" style="color: green;"></i></td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                </tbody>
                </div>
            </table>

        </div>
        
    </div>
</div>
{%endblock%}