{% extends "base.html"%}
{%block title%}{{project.name}}{%endblock%}
{%block content%}
{%block origin%}<input type="hidden" value="proyect" name="type"><input type="hidden" value="{{project.id}}" name="id">{%endblock%}
<div class="container-fluid">
    <div class="d-flex align-items-center">
        <h1>{{project.name}}</h1>
        <button class="complete-tasks-button ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#demoCollapse" aria-expanded="false" aria-controls="demoCollapse">
            <i class="bi bi-person-check"></i>
        </button>
        <button class="complete-tasks-button ms-3" type="button" data-bs-toggle="modal" data-bs-target="#eliminar_proyecto">
            <i class="bi bi-x"></i>
        </button>
    </div>
    <div class="container">
        <br/>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tarea</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Asignado</th>
                    <th scope="col">Status</th>
                    <th scope="col"><i class="bi bi-check2-circle"></i></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <div class="d-none">{{project.tasks.sort()}}</div>
                {%for task in project.tasks%}
                {%if not task.complete%}
                <tr>
                    <td scope="row">{{task.content}}</td>
                    <td>{{task.duedate}}</td>
                    <td>
                        {%if len(task.assigned) > 0%}
                            <div class="dropdown-center">
                                {{task.assigned[0].username}} 
                                <a href="#" class="dropdown-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                            <ul class="dropdown-menu">
                                {%for user in task.assigned%}
                                <li class="dropdown-item">
                                    {{user.username}}
                                    <form method="post" action="{{url_for('views.post_unassign')}}">
                                        <input type="hidden" name="user" value="{{user.id}}">
                                        <input type="hidden" name="task" value="{{task.id}}">
                                        <input type="hidden" value="proyect" name="type">
                                        <input type="hidden" value="{{project.id}}" name="id">
                                        <button class="remove-user" type="submit"><i class="bi bi-x"></i></button>
                                    </form>
                                </li>
                                {%endfor%}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#asignar" data-field="{{task.id}}">Asignar</a></li>
                            </ul>
                            {%else%}
                            Sin asignar
                            {%endif%}
                    </div>
                    </td>
                    <td>{%if task.overdue%}
                        <i class="bi bi-patch-minus-fill" style = "color: red"></i>
                        {%else%}
                        <i class="bi bi-patch-exclamation-fill" style ="color: rgb(212, 212, 0)"></i>
                        {%endif%}
                    </td>
                    <td><form method="post"><input type="hidden" value="{{task.id}}" name="id"><button class = "option-buttons" type="submit"><i class="bi bi-check-square"></i></button></form></td>
                    <td>
                        <div class="btn-group dropend">
                            <button class="option-buttons" type="button" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#cambiarfecha" data-field="{{task.id}}">Cambiar Fecha</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#asignar" data-field="{{task.id}}">Asignar</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editar" data-field="{{task.id}}">Editar</a></li>
                                <li><form method="post" action="{{url_for('views.post_delete_task')}}"><input type="hidden" value="{{task.id}}" name="task"><input type="hidden" value="{{project.id}}" name="id"><input type="hidden" value="proyect" name="type"><button type="submit" class="dropdown-item">Eliminar</button></form></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
            </div>
        </table>
        <div class="collapse" id="demoCollapse">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tarea</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Asignado</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <div class="d-none">{{project.tasks.sort()}}</div>
                    {%for task in project.tasks%}
                    {%if task.complete%}
                    <tr>
                        <td scope="row">{{task.content}}</td>
                        <td>{{task.duedate}}</td>
                        <td>
                            <div class="dropdown-center">
                                {%if len(task.assigned) > 0%}
                                <div class="dropdown-center">
                                    {{task.assigned[0].username}} 
                                    <a href="#" class="dropdown-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                    </a>
                                <ul class="dropdown-menu">
                                    {%for user in task.assigned%}
                                    <li class="dropdown-item">
                                        {{user.username}}
                                        <form method="post" action="{{url_for('views.post_unassign')}}">
                                            <input type="hidden" name="user" value="{{user.id}}">
                                            <input type="hidden" name="task" value="{{task.id}}">
                                            <input type="hidden" value="proyect" name="type">
                                            <input type="hidden" value="{{project.id}}" name="id">
                                            <button class="remove-user" type="submit"><i class="bi bi-x"></i></button>
                                        </form>
                                    </li>
                                    {%endfor%}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#asignar" data-field="{{task.id}}">Asignar</a></li>
                                </ul>
                                {%else%}
                                Sin asignar
                                {%endif%}
                            </div>
                        </td>
                        <td><i class="bi bi-patch-check-fill" style="color: green;"></i></td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="cambiarfecha" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar Fecha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{url_for('views.post_change_duedate')}}">
                        <input type="hidden" class="hiddenField" name="task">
                        <input type="date" class="form-control" name="duedate">
                        <input type="hidden" value="{{project.id}}" name="id">
                        <input type="hidden" value="proyect" name="type">
                        <br>
                        <button type="submit" class="btn btn-primary">Cambiar Fecha</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="asignar" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asignar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <form method="post" action="{{url_for('views.post_assign_task')}}">
                        <input type="hidden" class="hiddenField" name="task">
                        <input type="hidden" value="{{project.id}}" name="id">
                        <input type="hidden" value="proyect" name="type">
                        <select class="form-select"  style="width: 200px;" name="user">
                            <option selected>Usuario</option>
                            {%for user in users %}
                            <option value="{{user.id}}">{{user.username}}</option>
                            {%endfor%}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-primary">Asignar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editar" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <form method="post" action="{{url_for('views.post_edit_task')}}">
                        <input type="hidden" class="hiddenField" name="task">
                        <input type="hidden" value="{{project.id}}" name="id">
                        <input type="hidden" value="proyect" name="type">
                        <input type="text" placeholder="Tarea" class="form-control" name="content">
                        <br>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="eliminar_proyecto" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <p>Al eliminar el proyecto puede también borrar las tareas asociadas a el (incluyendo las terminadas). Las tareas abiertas siempre serán borradas. Si borra las tareas, estas serán descontadas de las métricas de los usuarios.</p>
                        <div class = "row">
                            <form class="col-12 col-md-auto" method="post" action="{{url_for('views.post_delete_project')}}">
                                <input type="hidden" value="{{project.id}}" name="id">
                                <button type="submit" class="btn btn-primary">Mantener Tareas</button>
                            </form>
                            <form class="col-12 col-md-auto" method="post" action="{{url_for('views.post_kill_project')}}">
                                <input type="hidden" value="{{project.id}}" name="id">
                                <button type="submit" class="btn btn-primary">Eliminar Tareas</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}