{% extends "base.html"%}
{%block title%}{{user.username}}{%endblock%}
{%block origin%}<input type="hidden" value="user" name="type"><input type="hidden" value="{{user.id}}" name="id">{%endblock%}
{%block content%}
<div class="container-fluid">
    <div class="d-flex align-items-center">
        <h1>{{user.username}}</h1>
        <button class="complete-tasks-button ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#demoCollapse" aria-expanded="false" aria-controls="demoCollapse">
            <i class="bi bi-person-check"></i>
        </button>
    </div>
    <div class="container">
        <br/>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tarea</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comentarios</th>  <!-- Added column for Comentarios -->
                    <th scope="col"></th>  <!-- Extra column for options/actions -->
                </tr>
            </thead>
            <tbody>
                {% for task in user.backref %}
                {% if not task.complete %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.duedate }}</td>
                    <td>{{ task.project }}</td>
                    <td>
                        {% if task.overdue %}
                            <i class="bi bi-patch-minus-fill" style="color: red"></i>
                        {% else %}
                            <i class="bi bi-patch-exclamation-fill" style="color: rgb(212, 212, 0)"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a class = "option-buttons" href="#" data-bs-toggle="modal" data-bs-target="{{task.task_hashtag()}}"><i class="bi bi-card-text"></i></a>   
                    </td>
                    <td>
                        <div class="btn-group dropend">
                            <button class="option-buttons" type="button" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#cambiarfecha" data-field="{{ task.id }}">Cambiar Fecha</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#asignar" data-field="{{ task.id }}">Asignar</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editar" data-field="{{ task.id }}">Editar</a></li>
                                <li>
                                    <form method="post" action="{{ url_for('views.post_delete_task') }}">
                                        <input type="hidden" value="{{ task.id }}" name="task">
                                        <input type="hidden" value="{{ task.project }}" name="id">
                                        <button type="submit" class="dropdown-item">Eliminar</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div class="collapse" id="demoCollapse">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tarea</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Status</th>
                        <th scope="col">Comentarios</th>  <!-- Added column for Comentarios -->
                        <th scope="col"></th>  <!-- Extra column for options/actions -->
                    </tr>
                </thead>
                <tbody>
                    {% for task in user.backref %}
                    {% if task.complete %}
                    <tr>
                        <td>{{ task.content }}</td>
                        <td>{{ task.duedate }}</td>
                        <td>{{ task.project }}</td>
                        <td><i class="bi bi-patch-check-fill" style="color: green;"></i></td>
                        <td>
                            <a class = "option-buttons" href="#" data-bs-toggle="modal" data-bs-target="{{task.task_hashtag()}}"><i class="bi bi-card-text"></i></a>   
                        </td>
                        <td>
                            <div class="btn-group dropend">
                                <button class="option-buttons" type="button" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#cambiarfecha" data-field="{{ task.id }}">Cambiar Fecha</a></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#asignar" data-field="{{ task.id }}">Asignar</a></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editar" data-field="{{ task.id }}">Editar</a></li>
                                    <li>
                                        <form method="post" action="{{ url_for('views.post_delete_task') }}">
                                            <input type="hidden" value="{{ task.id }}" name="task">
                                            <input type="hidden" value="{{ task.project }}" name="id">
                                            <button type="submit" class="dropdown-item">Eliminar</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="modal fade" id="cambiarfecha" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar Fecha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{url_for('views.post_change_duedate')}}">
                        <input type="hidden" class="hiddenField" name="task">
                        <input type="date" class="form-control" name="duedate">
                        <input type="hidden" value="{{user.id}}" name="id">
                        <input type="hidden" value="user" name="type">
                        <br>
                        <button type="submit" class="btn btn-primary">Cambiar Fecha</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="asignar" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asignar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <form method="post" action="{{url_for('views.post_assign_task')}}">
                        <input type="hidden" class="hiddenField" name="task">
                        <input type="hidden" value="{{user.id}}" name="id">
                        <input type="hidden" value="user" name="type">
                        <select class="form-select"  style="width: 200px;" name="user">
                            <option selected>Usuario</option>
                            {%for user in users %}
                            <option value="{{user.id}}">{{user.username}}</option>
                            {%endfor%}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-primary">Asignar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editar" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <form method="post" action="{{url_for('views.post_edit_task')}}">
                        <input type="hidden" class="hiddenField" name="task">
                        <input type="hidden" value="{{user.id}}" name="id">
                        <input type="hidden" value="proyect" name="type">
                        <input type="text" placeholder="Tarea" class="form-control" name="content">
                        <br>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {%for task in user.backref%}
    <div class="modal fade" id="{{task.task_finder()}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comentarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Display existing comments -->
                {% for note in task.notes %}
                <div class="mb-2">
                    <h6 class="mb-1">{{ note.author }}</h6>
                    <p>{{ note.content }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <!-- Add new comment form -->
                <form class="row g-3" method="post" action="{{ url_for('views.post_create_note') }}">
                    <div class="col-12 col-md-6">
                        <select class="form-select" name="user">
                            <option selected>Autor</option>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control" name="content" placeholder="Añadir comentario">
                    </div>
                    <!-- Hidden fields -->
                    <input type="hidden" name="task" value="{{ task.id }}">
                    <input type="hidden" name="project" value="{{ task.project.id }}">
                    <!-- Submit button -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">Comentar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endfor %}
</div>
{%endblock%}